.arrow_area ul {
	margin: 0 auto;
	width: 90%;
	height:50px;
	margin: 0% 5% 0% 5%;
	position:relative;
}

.arrow_area ul li img {
	width: 3%;
	height: 50px;
	display: block;
	position:absolute;
	float:left;
}

.img-row {
	margin: 0 auto;
	width: 90%;
	margin: 0% 5% 0% 5%;
}

.img-row ul {
	float:left;
}

.img-row ul li {
	width: 100px;
	height: 100px;
}

.img-row ul li img {
	width: 100px;
	height: 100px;
	display: block;
}

.sortable-placeholder {
	width: 100px;
	height: 100px;
}
